.main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
}

.weather-info-container {
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.weather-info-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.celsius {
  font-size: 120px;
}

.location {
  font-size: 40px;
  margin-bottom: 20px;
}

.weather-type {
  text-align: center;
}

.weather-type-icon {
  width: 70px;
}
